* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-weight: 300;
}

.container {
  max-width: 1280px;
  margin: 0;
  padding: 0 15px;
}

.txt, .header .container .header-content .header-register, .header .container .header-content .header-login {
  font-size: 16px;
  font-weight: 300;
  color: #f7f7f7;
  line-height: 19px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .container {
  position: relative;
  margin: 0;
  height: 50px;
  background: #000000;
  border: 1px solid #000000;
}
.header .container .header-logo {
  position: absolute;
  left: 24px;
  top: 10px;
  width: 116px;
  height: 32px;
}
.header .container .header-content img {
  position: absolute;
  width: 31px;
  height: 31px;
  right: 222px;
  top: 9px;
  bottom: 10px;
}
.header .container .header-content .hcart-num {
  position: absolute;
  font-style: normal;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
  right: 187px;
  top: 6px;
  bottom: 8px;
}
.header .container .header-content .header-login {
  position: absolute;
  width: 91px;
  height: 32px;
  top: 15px;
  right: 86px;
  font-style: normal;
}
.header .container .header-content .header-login:hover {
  text-decoration: none;
}
.header .container .header-content .header-register {
  position: absolute;
  width: 90px;
  height: 32px;
  top: 15px;
  right: 20px;
  font-style: normal;
}
.header .container .header-content .header-register:hover {
  text-decoration: none;
}

.menu .container {
  position: relative;
  height: 50px;
  background: #ffffff;
}
.menu .container ul {
  list-style: none;
}
.menu .container ul .active {
  position: absolute;
  width: 56px;
  height: 24px;
  left: 25px;
  top: 16px;
}
.menu .container ul .active a {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}
.menu .container ul .active a:hover {
  text-decoration: none;
}
.menu .container ul li:nth-child(2) {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 105px;
  top: 16px;
}
.menu .container ul li:nth-child(2) a {
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
  opacity: 0.7;
}
.menu .container ul li:nth-child(2) a:hover {
  text-decoration: none;
}
.menu .container ul li:nth-child(3) {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 183px;
  top: 16px;
}
.menu .container ul li:nth-child(3) a {
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
  opacity: 0.7;
}
.menu .container ul li:nth-child(3) a:hover {
  text-decoration: none;
}
.menu .container ul li:nth-child(4) {
  position: absolute;
  width: 31px;
  height: 24px;
  left: 292px;
  top: 16px;
}
.menu .container ul li:nth-child(4) a {
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
}
.menu .container ul li:nth-child(4) a:hover {
  text-decoration: none;
}
.menu .container ul li:nth-child(5) {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 363px;
  top: 16px;
}
.menu .container ul li:nth-child(5) a {
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
}
.menu .container ul li:nth-child(5) a:hover {
  text-decoration: none;
}
.menu .container .line {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 24px;
  top: 50px;
  background: #030303;
  border: 1px solid #000000;
  z-index: 1;
}

.carousel .container {
  position: relative;
  height: 530px;
  background: #ffffff;
  overflow: hidden;
}
.carousel .container .carousel-left {
  position: absolute;
  width: 821px;
  height: 392px;
  left: 86px;
  top: 5px;
}
@media only screen and (max-width: 991.98px) {
  .carousel .container .carousel-left {
    width: 750px;
    height: 750px;
    top: 17px;
  }
}
@media only screen and (max-width: 850px) {
  .carousel .container .carousel-left {
    width: 600px;
    height: 600px;
    top: 61px;
  }
}
@media only screen and (max-width: 767.98px) {
  .carousel .container .carousel-left {
    width: 600px;
    height: 600px;
    top: 50px;
    left: 50%;
    transform: translateX(-30%);
  }
}
.carousel .container .carousel-left img {
  width: 100%;
}
.carousel .container .carousel-right .product-name {
  position: absolute;
  width: 291px;
  height: 51px;
  right: 59px;
  top: 124px;
  font-style: normal;
  font-size: 40px;
  font-weight: 300;
  color: #000000;
  line-height: 48px;
}
@media only screen and (max-width: 991.98px) {
  .carousel .container .carousel-right .product-name {
    width: 291px;
    height: 51px;
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    line-height: 48px;
    right: -16px;
  }
}
@media only screen and (max-width: 850px) {
  .carousel .container .carousel-right .product-name {
    width: 291px;
    height: 51px;
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    line-height: 48px;
    right: -16px;
  }
}
@media only screen and (max-width: 767.98px) {
  .carousel .container .carousel-right .product-name {
    width: 291px;
    height: 51px;
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    line-height: 48px;
    top: 277px;
    left: 50%;
    transform: translateX(-28%);
  }
}
.carousel .container .carousel-right .product-description {
  position: absolute;
  width: 291px;
  height: 51px;
  right: 59px;
  top: 175px;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
}
@media only screen and (max-width: 991.98px) {
  .carousel .container .carousel-right .product-description {
    width: 291px;
    height: 51px;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 48px;
    right: -16px;
  }
}
@media only screen and (max-width: 850px) {
  .carousel .container .carousel-right .product-description {
    width: 291px;
    height: 51px;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 48px;
    right: -16px;
  }
}
@media only screen and (max-width: 767.98px) {
  .carousel .container .carousel-right .product-description {
    width: 291px;
    height: 51px;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 48px;
    top: 314px;
    left: 50%;
    transform: translateX(-28%);
  }
}
.carousel .container .carousel-right .carousel-button {
  position: absolute;
  width: 150px;
  height: 45px;
  right: 200px;
  top: 225px;
  padding: 13px 35px 13px 34px;
  background: #f8b653;
}
@media only screen and (max-width: 991.98px) {
  .carousel .container .carousel-right .carousel-button {
    right: 154px;
    padding: 10px 12px 10px 19px;
    width: 120px;
  }
}
@media only screen and (max-width: 850px) {
  .carousel .container .carousel-right .carousel-button {
    right: 174px;
    padding: 10px 12px 10px 19px;
    width: 100px;
  }
}
@media only screen and (max-width: 767.98px) {
  .carousel .container .carousel-right .carousel-button {
    right: 50%;
    transform: translateX(18%);
    top: 351px;
    padding: 5px 14px 3px 19px;
    width: 100px;
    height: 35px;
  }
}
.carousel .container .carousel-right .carousel-button span {
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px;
}
@media only screen and (max-width: 850px) {
  .carousel .container .carousel-right .carousel-button span {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 24px;
  }
}
.carousel .container .polygon .polygon-left {
  position: absolute;
  width: 45.71px;
  height: 66.13px;
  left: 18px;
  top: 175px;
}
.carousel .container .polygon .polygon-right {
  position: absolute;
  width: 45.71px;
  height: 66.13px;
  right: 12.86px;
  top: 175px;
  z-index: 2;
}
.carousel .container .ellipse img:nth-child(1) {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 597px;
  top: 397px;
}
@media only screen and (max-width: 1199.98px) {
  .carousel .container .ellipse img:nth-child(1) {
    left: 46% !important;
    transform: translateX(-50%);
  }
}
.carousel .container .ellipse img:nth-child(2) {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 635px;
  top: 397px;
}
@media only screen and (max-width: 1199.98px) {
  .carousel .container .ellipse img:nth-child(2) {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
.carousel .container .ellipse img:nth-child(3) {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 667px;
  top: 397px;
}
@media only screen and (max-width: 1199.98px) {
  .carousel .container .ellipse img:nth-child(3) {
    left: 54% !important;
    transform: translateX(-50%);
  }
}
.carousel .container .carousel-bg {
  position: absolute;
  left: -17px;
  top: 107px;
}

.product-feature .container {
  position: relative;
  height: auto;
  background: #fffcfc;
}
.product-feature .container .product-head {
  text-align: center;
}
.product-feature .container .product-head h1 {
  height: 48px;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  line-height: 48px;
}
.product-feature .container .row {
  position: relative;
  top: 89px;
  margin-right: 16px;
  margin-left: 69px;
}
@media only screen and (max-width: 991.98px) {
  .product-feature .container .row {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.product-feature .container .row .itemList .card-item {
  position: relative;
  width: 334px;
  height: 369px;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f8f8;
  margin-bottom: 49px;
  margin-right: 60px;
}
@media only screen and (max-width: 767.98px) {
  .product-feature .container .row .itemList .card-item {
    left: 50%;
    transform: translateX(-50%);
  }
}
.product-feature .container .row .itemList .card-item .card-top img {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 57px;
  top: 18px;
}
.product-feature .container .row .itemList .card-item .card-top .name {
  position: absolute;
  width: 300px;
  height: 29px;
  left: 23px;
  top: 218px;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  line-height: 29px;
}
.product-feature .container .row .itemList .card-item .card-top .shortDes {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.product-feature .container .row .itemList .card-item .card-bottom .card-btn .card-buy {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 304px;
  background: #e1b067;
  border: none;
  padding: 17px 27px 18px 39px;
}
.product-feature .container .row .itemList .card-item .card-bottom .card-btn .card-buy .buynow {
  width: 109px;
  height: 29px;
  font-style: normal;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  line-height: 29px;
  cursor: pointer;
}
.product-feature .container .row .itemList .card-item .card-bottom .price-btn {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 304px;
  background: #dedddc;
  padding: 17px 40px 18px 66px;
}
.product-feature .container .row .itemList .card-item .card-bottom .price-btn .price {
  width: 54px;
  height: 29px;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  line-height: 29px;
}