@import "../../base/components/base";
@import "../../base/components/components.scss";
@import "../../themes/variable";

.header {
  .container {
    position: relative;
    margin: 0;
    height: 50px;
    background: $bg-dark;
    border: $bd-s1-dark;
    .header-logo {
      position: absolute;
      left: 24px;
      top: 10px;
      @include wh(116px, 32px);
    }
    .header-content {
      img {
        position: absolute;
        @include wh(31px, 31px);
        right: 222px;
        top: 9px;
        bottom: 10px;
      }

      .hcart-num {
        position: absolute;
        font-style: $text-style-base;
        @include text($text-xl, $text-light, $text-c1-light, $lh-xl);
        right: 187px;
        top: 6px;
        bottom: 8px;
      }
      .header-login {
        position: absolute;
        @include wh(91px, 32px);
        top: 15px;
        right: 86px;
        font-style: $text-style-base;
        @extend .txt;
        &:hover {
          text-decoration: none;
        }
      }
      .header-register {
        position: absolute;
        @include wh(90px, 32px);
        top: 15px;
        right: 20px;
        font-style: $text-style-base;
        @extend .txt;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.menu {
  .container {
    position: relative;
    height: 50px;
    background: $bg-light;
    // top: 50px;
    ul {
      list-style: none;
      .active {
        position: absolute;
        @include wh(56px, 24px);
        left: 25px;
        top: 16px;
        a {
          font-style: normal;
          @include text($text-l, $text-regular, $text-c1-dark, $lh-l);
          &:hover {
            text-decoration: none;
          }
        }
      }
      li {
        &:nth-child(2) {
          position: absolute;
          @include wh(41px, 24px);
          left: 105px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            opacity: 0.7;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:nth-child(3) {
          position: absolute;
          @include wh(70px, 24px);
          left: 183px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            opacity: 0.7;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:nth-child(4) {
          position: absolute;
          @include wh(31px, 24px);
          left: 292px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:nth-child(5) {
          position: absolute;
          @include wh(52px, 24px);
          left: 363px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .line {
      position: absolute;
      width: 60px;
      height: 0px;
      left: 24px;
      top: 50px;
      background: #030303;
      border: 1px solid #000000;
      z-index: 1;
    }
  }
}
.carousel {
  .container {
    position: relative;
    height: 530px;
    background: $bg-light;
    overflow: hidden;
    .carousel-left {
      position: absolute;
      @include wh(821px, 392px);
      left: 86px;
      top: 5px;
      @media only screen and (max-width: 991.98px) {
        @include wh(750px, 750px);
        top: 17px;
      }
      @media only screen and (max-width: 850px) {
        @include wh(600px, 600px);
        top: 61px;
      }
      @media only screen and (max-width: 767.98px) {
        @include wh(600px, 600px);
        top: 50px;
        left: 50%;
        transform: translateX(-30%);
      }
      img {
        width: 100%;
      }
    }
    .carousel-right {
      .product-name {
        position: absolute;
        @include wh(291px, 51px);
        right: 59px;
        top: 124px;
        font-style: $text-style-base;
        @include text($text-xxl, $text-light, $text-c1-dark, $lh-xxl);
        @media only screen and (max-width: 991.98px) {
          @include wh(291px, 51px);
          @include text($text-xl, $text-light, $text-c1-dark, $lh-xxl);
          right: -16px;
        }
        @media only screen and (max-width: 850px) {
          @include wh(291px, 51px);
          @include text($text-l-btn, $text-light, $text-c1-dark, $lh-xxl);
          right: -16px;
        }
        @media only screen and (max-width: 767.98px) {
          @include wh(291px, 51px);
          @include text($text-l-btn, $text-light, $text-c1-dark, $lh-xxl);
          top: 277px;
          left: 50%;
          transform: translateX(-28%);
        }
      }
      .product-description {
        position: absolute;
        @include wh(291px, 51px);
        right: 59px;
        top: 175px;
        font-style: $text-style-base;
        @include text($text-l, $text-light, $text-c1-dark, $lh-l);
        @media only screen and (max-width: 991.98px) {
          @include wh(291px, 51px);
          @include text($text-l, $text-light, $text-c1-dark, $lh-xxl);
          right: -16px;
        }
        @media only screen and (max-width: 850px) {
          @include wh(291px, 51px);
          @include text($text-base, $text-light, $text-c1-dark, $lh-xxl);
          right: -16px;
        }
        @media only screen and (max-width: 767.98px) {
          @include wh(291px, 51px);
          @include text($text-base, $text-light, $text-c1-dark, $lh-xxl);
          top: 314px;
          left: 50%;
          transform: translateX(-28%);
        }
      }
      .carousel-button {
        position: absolute;
        @include wh(150px, 45px);
        right: 200px;
        top: 225px;
        padding: 13px 35px 13px 34px;
        background: $bg-btn;
        @media only screen and (max-width: 991.98px) {
          right: 154px;
          padding: 10px 12px 10px 19px;
          width: 120px;
        }
        @media only screen and (max-width: 850px) {
          right: 174px;
          padding: 10px 12px 10px 19px;
          width: 100px;
        }
        @media only screen and (max-width: 767.98px) {
          right: 50%;
          transform: translateX(18%);
          top: 351px;
          padding: 5px 14px 3px 19px;
          @include wh(100px, 35px);
        }
        span {
          font-style: $text-style-base;
          @include text($text-l, $text-light, $text-c1-light, $lh-l);
          @media only screen and (max-width: 850px) {
            @include text($text-base, $text-light, $text-c1-light, $lh-l);
          }
        }
      }
    }
    .polygon {
      .polygon-left {
        position: absolute;
        width: 45.71px;
        height: 66.13px;
        left: 18px;
        top: 175px;
      }
      .polygon-right {
        position: absolute;
        width: 45.71px;
        height: 66.13px;
        right: 12.86px;
        top: 175px;
        z-index: 2;
      }
    }
    .ellipse {
      img {
        &:nth-child(1) {
          position: absolute;
          @include ellipse(15px, 15px, 597px, 397px);
          @media only screen and (max-width: 1199.98px) {
            left: 46% !important;
            transform: translateX(-50%);
          }
        }
        &:nth-child(2) {
          position: absolute;
          @include ellipse(15px, 15px, 635px, 397px);
          @media only screen and (max-width: 1199.98px) {
            left: 50% !important;
            transform: translateX(-50%);
          }
        }
        &:nth-child(3) {
          position: absolute;
          @include ellipse(15px, 15px, 667px, 397px);
          @media only screen and (max-width: 1199.98px) {
            left: 54% !important;
            transform: translateX(-50%);
          }
        }
      }
    }
    .carousel-bg {
      position: absolute;
      // @include wh(1334px, 393px);
      left: -17px;
      top: 107px;
    }
  }
}
.product-feature {
  .container {
    position: relative;
    height: 1044px;
    background: $bg-2-light;
    .product-head {
      text-align: center;
      h1 {
        // position: absolute;
        // @include wh(351px, 48px);
        // top: 16px;
        height: 48px;
        font-style: $text-style-base;
        @include text($text-xxl, $text-regular, $text-c1-dark, $lh-xxl);
      }
    }
    .row {
      position: relative;
      top: 89px;
      margin-right: 16px;
      margin-left: 69px;
      @media only screen and (max-width: 991.98px) {
        margin-left: 20px;
        margin-right: 20px;
      }
      .itemList {
        .card-item {
          position: relative;
          @include wh(334px, 369px);
          top: 0%;
          left: 0;
          right: 0;
          bottom: 0;
          background: $bg-gray;
          margin-bottom: 49px;
          margin-right: 60px;
          @media only screen and (max-width: 767.98px) {
            left: 50%;
            transform: translateX(-50%);
          }
          .card-top {
            img {
              position: absolute;
              @include wh(220px, 220px);
              left: 57px;
              top: 18px;
            }
            .name {
              position: absolute;
              @include wh(300px, 29px);
              left: 23px;
              top: 218px;
              font-style: $text-style-base;
              @include text($text-l-btn, $text-light, $text-c1-dark, $lh-l-btn);
            }
            .shortDes {
              position: absolute;
              @include wh(153px, 24px);
              left: 23px;
              top: 268px;
              font-style: $text-style-base;
              @include text($text-l, $text-light, $text-c1-dark, $lh-l);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .card-bottom {
            .card-btn {
              .card-buy {
                position: absolute;
                @include wh(175px, 64px);
                left: 0px;
                top: 304px;
                background: $bg-orange;
                border: none;
                padding: 17px 27px 18px 39px;
                .buynow {
                  @include wh(109px, 29px);
                  font-style: $text-style-base;
                  @include text(
                    $text-l-btn,
                    $text-exlight,
                    $text-c1-dark,
                    $lh-l-btn
                  );
                  cursor: pointer;
                }
              }
            }
            .price-btn {
              position: absolute;
              @include wh(160px, 64px);
              left: 174px;
              top: 304px;
              background: $bg-2-gray;
              padding: 17px 40px 18px 66px;
              .price {
                @include wh(54px, 29px);
                font-style: $text-style-base;
                @include text(
                  $text-l-btn,
                  $text-semibold,
                  $text-c1-dark,
                  $lh-l-btn
                );
              }
            }
          }
        }
      }
    }
  }
}
