//background
$bg-dark: #000000;
$bg-light: #ffffff;
$bg-2-light: #fffcfc;
$bg-btn: #f8b653;
$bg-orange: #e1b067;
$bg-gray: #f8f8f8;
$bg-2-gray: #dedddc;

//fontsize
$text-base: 16px;
$text-l: 20px;
$text-l-btn: 24px;
$text-xl: 30px;
$text-xxl: 40px;

//fontweight
$text-exlight: 200;
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;

//color
$text-c1-light: #ffffff;
$text-c2-light: #f7f7f7;
$text-c1-dark: #000000;
$text-c1-gray: #cbc9c9;

//fontstyle
$text-style-base: normal;

//lineheight
$lh-base: 19px;
$lh-l: 24px;
$lh-l-btn: 29px;
$lh-xxl: 48px;

//border
$bd-s1-dark: 1px solid #000000;

//textshadow
$text-sd: 0px 4px 4px rgba(0, 0, 0, 0.25);

@mixin text($fs, $fw, $c, $lh) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
  line-height: $lh;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin ellipse($w, $h, $l, $t) {
  width: $w;
  height: $h;
  left: $l;
  top: $t;
}
