@import "../../base/components/base";
@import "../../base/components/components.scss";
@import "../../themes/variable";

.header {
  .container {
    position: relative;
    margin: 0;
    height: 50px;
    background: $bg-dark;
    border: $bd-s1-dark;
    .header-logo {
      position: absolute;
      left: 24px;
      top: 10px;
      @include wh(116px, 32px);
    }
    .header-content {
      img {
        position: absolute;
        @include wh(31px, 31px);
        right: 222px;
        top: 9px;
        bottom: 10px;
      }

      .hcart-num {
        position: absolute;
        font-style: $text-style-base;
        @include text($text-xl, $text-light, $text-c1-light, $lh-xl);
        right: 187px;
        top: 6px;
        bottom: 8px;
      }
      .header-login {
        position: absolute;
        @include wh(91px, 32px);
        top: 15px;
        right: 86px;
        font-style: $text-style-base;
        @extend .txt;
        &:hover {
          text-decoration: none;
        }
      }
      .header-register {
        position: absolute;
        @include wh(90px, 32px);
        top: 15px;
        right: 20px;
        font-style: $text-style-base;
        @extend .txt;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.menu {
  .container {
    position: relative;
    height: 50px;
    background: $bg-light;
    // top: 50px;
    ul {
      list-style: none;
      .active {
        position: absolute;
        @include wh(56px, 24px);
        left: 25px;
        top: 16px;
        a {
          font-style: normal;
          @include text($text-l, $text-regular, $text-c1-dark, $lh-l);
          &:hover {
            text-decoration: none;
          }
        }
      }
      li {
        &:nth-child(2) {
          position: absolute;
          @include wh(41px, 24px);
          left: 105px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            opacity: 0.7;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:nth-child(3) {
          position: absolute;
          @include wh(70px, 24px);
          left: 183px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            opacity: 0.7;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:nth-child(4) {
          position: absolute;
          @include wh(31px, 24px);
          left: 292px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:nth-child(5) {
          position: absolute;
          @include wh(52px, 24px);
          left: 363px;
          top: 16px;
          a {
            font-style: normal;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .line {
      position: absolute;
      width: 60px;
      height: 0px;
      left: 24px;
      top: 50px;
      background: #030303;
      border: 1px solid #000000;
      z-index: 1;
    }
  }
}
.detail {
  .container {
    position: relative;
    height: 530px;
    background: $text-c1-light;
    overflow: hidden;
    @media only screen and (max-width: 767.98px) {
      height: 600px;
    }
    .detail-item {
      .detail-right {
        position: absolute;
        @include wh(334px, 355px);
        left: 65px;
        top: 58px;
        background: $bg-gray;
        img {
          position: absolute;
          @include wh(220px, 220px);
          left: 57px;
          top: 109px;
          @media only screen and (max-width: 767.98px) {
            @include wh(300px, 300px);
            transform: translateX(-50%);
            left: 50%;
            top: -17px;
          }
        }
        @media only screen and (max-width: 767.98px) {
          left: 50%;
          transform: translateX(-50%);
          @include wh(430px, 231px);
        }
      }
      .detail-left {
        .detail-name {
          position: absolute;
          @include wh(410px, 36px);
          left: 527px;
          top: 67px;
          font-style: $text-style-base;
          @include text($text-xl, $text-light, $text-c1-dark, $lh-xl);
          @media only screen and (max-width: 991.98px) {
            left: 461px;
          }
          @media only screen and (max-width: 990px) {
            left: 434px;
            width: 300px;
          }
          @media only screen and (max-width: 767.98px) {
            top: 311px;
            left: 62%;
            transform: translateX(-50%);
            width: 450px;
          }
          @media only screen and (max-width: 575.98px) {
            left: 65%;
            top: 299px;
            width: 300px;
          }
        }
        .detail-content {
          position: absolute;
          @include wh(503px, 90px);
          left: 527px;
          top: 112px;
          font-style: $text-style-base;
          @include text($text-base, $text-regular, $text-c2-dark, $lh-base);
          @media only screen and (max-width: 1199.98px) {
            @include wh(400px, 90px);
          }
          @media only screen and (max-width: 991.98px) {
            left: 461px;
          }
          @media only screen and (max-width: 990px) {
            width: 290px;
            top: 135px;
            left: 434px;
          }
          @media only screen and (max-width: 767.98px) {
            transform: translateX(-50%);
            left: 50%;
            width: 550px;
            top: 354px;
          }
          @media only screen and (max-width: 575.98px) {
            left: 51%;
            top: 367px;
            width: 446px;
          }
          @media only screen and (max-width: 420px) {
            left: 53%;
            top: 339px;
            width: 400px;
            @include text($text-s, $text-regular, $text-c2-dark, $lh-base);
          }
        }
        .detail-available {
          position: absolute;
          @include wh(162px, 58px);
          left: 527px;
          top: 202px;
          font-style: $text-style-base;
          @include text($text-l-btn, $text-medium, $text-c1-green, $lh-l-btn);
          @media only screen and (max-width: 1199.98px) {
            top: 224px;
            width: 450px;
          }
          @media only screen and (max-width: 991.98px) {
            left: 461px;
          }
          @media only screen and (max-width: 990px) {
            top: 290px;
            left: 434px;
          }
          @media only screen and (max-width: 767.98px) {
            transform: translateX(-50%);
            left: 70%;
            top: 439px;
          }
          @media only screen and (max-width: 575.98px) {
            transform: translateX(-50%);
            left: 80%;
            top: 459px;
          }
          @media only screen and (max-width: 420px) {
            left: 85%;
            top: 459px;
          }
        }
        .detail-size {
          position: absolute;
          @include wh(500px, 50px);
          top: 249px;
          left: 542px;
          @media only screen and (max-width: 1199.98px) {
            top: 263px;
          }
          @media only screen and (max-width: 991.98px) {
            left: 449px;
          }
          @media only screen and (max-width: 990px) {
            @include wh(45px, 45px);
            top: 318px;
          }
          @media only screen and (max-width: 767.98px) {
            transform: translateX(-50%);
            left: 33%;
            width: 550px;
            top: 490px;
          }
          @media only screen and (max-width: 575.98px) {
            left: 29%;
          }
          @media only screen and (max-width: 420px) {
            left: 20%;
          }

          .bg-size {
            position: absolute;
            @include wh(50px, 50px);
            background: $bg-3-gray;
            @media only screen and (max-width: 767.98px) {
              @include wh(35px, 35px);
            }
            .item-size {
              position: absolute;
              @include wh(32px, 29px);
              left: 20%;
              right: 16%;
              top: 22%;
              bottom: 20%;
              font-style: $text-style-base;
              @include text(
                $text-l-btn,
                $text-semibold,
                $text-c3-dark,
                $lh-l-btn
              );
              @media only screen and (max-width: 767.98px) {
                left: 6%;
                top: 15%;
              }
            }
          }
          @for $i from 0 to 8 {
            .bg-item-#{$i} {
              left: 14% * ($i);
            }
          }
          @media only screen and (max-width: 1199.98px) {
            @for $i from 0 to 8 {
              .bg-item-#{$i} {
                left: 12% * ($i);
              }
            }
          }
          @media only screen and (max-width: 991.98px) {
            @for $i from 0 to 8 {
              .bg-item-#{$i} {
                left: 135% * ($i);
              }
            }
          }
          @media only screen and (max-width: 767.98px) {
            transform: translateX(-50%);
            @include wh(35px, 35px);
            @for $i from 0 to 8 {
              .bg-item-#{$i} {
                left: 135% * ($i) !important;
              }
            }
          }
          .bg-item-4 {
            @media only screen and (max-width: 990px) {
              top: 56px;
              left: 0px;
            }
            @media only screen and (max-width: 767.98px) {
              top: 0;
            }
          }
          .bg-item-5 {
            @media only screen and (max-width: 990px) {
              top: 56px;
              left: 61px;
            }
            @media only screen and (max-width: 767.98px) {
              top: 0;
            }
          }
          .bg-item-6 {
            @media only screen and (max-width: 990px) {
              top: 56px;
              left: 122px;
            }
            @media only screen and (max-width: 767.98px) {
              top: 0;
            }
          }
        }
        .detail-price {
          position: absolute;
          @include wh(113px, 47px);
          left: 527px;
          top: 317px;
          font-style: $text-style-base;
          @include text($text-xl, $text-semibold, $text-c1-orange, $lh-xl);
          @media only screen and (max-width: 1199.98px) {
            top: 324px;
          }
          @media only screen and (max-width: 991.98px) {
            left: 461px;
          }
          @media only screen and (max-width: 990px) {
            top: 426px;
            left: 434px;
          }
          @media only screen and (max-width: 767.98px) {
            // transform: translateX(-50%);
            left: 26%;
            width: 550px;
            top: 535px;
          }
          @media only screen and (max-width: 575.98px) {
            left: 22%;
          }
          @media only screen and (max-width: 420px) {
            left: 17%;
          }
        }
        .detail-num {
          .num {
            position: absolute;
            @include wh(14px, 36px);
            left: 597px;
            top: 377px;
            font-style: $text-style-base;
            @include text($text-xl, $text-regular, $text-c1-dark, $lh-xl);
            @media only screen and (max-width: 991.98px) {
              left: 534px;
            }
            @media only screen and (max-width: 990px) {
              top: 426px;
              left: 559px;
            }
            @media only screen and (max-width: 767.98px) {
              // transform: translateX(-50%);
              left: 47%;
              top: 540px;
            }
          }
          .detail-plus {
            img {
              position: absolute;
              top: 370px;
              left: 527px;
              @media only screen and (max-width: 991.98px) {
                left: 461px;
              }
              @media only screen and (max-width: 990px) {
                width: 30px;
                top: 429px;
                left: 523px;
              }
              @media only screen and (max-width: 767.98px) {
                // transform: translateX(-50%);
                left: 40%;
                width: 30px;
                top: 543px;
              }
              @media only screen and (max-width: 767.98px) {
                // transform: translateX(-50%);
                left: 40%;
                width: 30px;
                top: 538px;
              }
            }
            span {
              position: absolute;
              left: 542px;
              top: 375px;
              bottom: 24%;
              font-style: $text-style-base;
              @include text($text-xl, $text-regular, $text-c3-light, $lh-xl);
              @media only screen and (max-width: 991.98px) {
                left: 477px;
              }
              @media only screen and (max-width: 990px) {
                top: 424px;
                left: 528px;
              }
              @media only screen and (max-width: 767.98px) {
                // transform: translateX(-50%);
                left: 40%;
                transform: translateX(18%);
                top: 536px;
              }
              @media only screen and (max-width: 575.98px) {
                // transform: translateX(-50%);
                left: 40%;
                transform: translateX(18%);
                top: 532px;
              }
            }
          }
          .detail-minus {
            img {
              position: absolute;
              top: 370px;
              left: 636px;
              @media only screen and (max-width: 991.98px) {
                left: 572px;
              }
              @media only screen and (max-width: 990px) {
                width: 30px;
                top: 429px;
                left: 581px;
              }
              @media only screen and (max-width: 767.98px) {
                // transform: translateX(-50%);
                left: 52%;
                width: 30px;
                top: 543px;
              }
              @media only screen and (max-width: 575.98px) {
                // transform: translateX(-50%);
                left: 52%;
                width: 30px;
                top: 538px;
              }
            }
            span {
              position: absolute;
              left: 651px;
              right: 34%;
              top: 71%;
              bottom: 24%;
              font-style: $text-style-base;
              @include text($text-xl, $text-regular, $text-c3-light, $lh-xl);
              @media only screen and (max-width: 991.98px) {
                left: 592px;
              }
              @media only screen and (max-width: 990px) {
                top: 424px;
                left: 588px;
              }
              @media only screen and (max-width: 767.98px) {
                // transform: translateX(-50%);
                left: 53%;
                top: 537px;
              }
              @media only screen and (max-width: 575.98px) {
                // transform: translateX(-50%);
                left: 53%;
                width: 30px;
                top: 534px;
              }
            }
          }
        }
        .detail-cart {
          position: absolute;
          @include wh(175px, 64px);
          left: 527px;
          top: 427px;
          border: none;
          background: $bg-1-linear;
          padding: 18px 9px 9px 18px;
          @media only screen and (max-width: 991.98px) {
            left: 461px;
          }
          @media only screen and (max-width: 990px) {
            width: 100px;
            height: 55px;
            padding: 0px;
            top: 462px;
            left: 434px;
          }
          @media only screen and (max-width: 767.98px) {
            left: 58%;
            top: 533px;
            height: 40px;
          }
          @media only screen and (max-width: 575.98px) {
            transform: translateX(-50%);
            left: 72%;
            top: 533px;
            height: 36px;
          }
          span {
            @include wh(142px, 62px);
            font-style: $text-style-base;
            @include text($text-l-btn, $text-medium, $text-c4-light, $lh-l-btn);
            @media only screen and (max-width: 990px) {
              @include text(
                $text-base,
                $text-medium,
                $text-c4-light,
                $lh-l-btn
              );
            }
          }
        }
      }
    }
  }
}
.related-feature {
  .container {
    position: relative;
    height: 1044px;
    background: $bg-2-light;
    .related-head {
      text-align: center;
      margin-top: 16px;
      h1 {
        // position: absolute;
        // @include wh(351px, 48px);
        // left: 476px;
        // top: 16px;
        height: 48px;
        font-style: $text-style-base;
        @include text($text-xxl, $text-regular, $text-c1-dark, $lh-xxl);
        margin-bottom: 0;
      }
    }
  }
  .row {
    position: relative;
    top: 89px;
    margin-right: 16px;
    margin-left: 69px;
    @media only screen and (max-width: 991.98px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    .itemList {
      .card-item {
        position: relative;
        @include wh(334px, 369px);
        top: 0%;
        left: 0;
        right: 0;
        bottom: 0;
        background: $bg-gray;
        margin-bottom: 49px;
        margin-right: 60px;
        @media only screen and (max-width: 767.98px) {
          left: 50%;
          transform: translateX(-50%);
        }
        .card-top {
          img {
            position: absolute;
            @include wh(220px, 220px);
            left: 57px;
            top: 18px;
          }
          .name {
            position: absolute;
            @include wh(300px, 29px);
            left: 23px;
            top: 218px;
            font-style: $text-style-base;
            @include text($text-l-btn, $text-light, $text-c1-dark, $lh-l-btn);
          }
          .shortDes {
            position: absolute;
            @include wh(153px, 24px);
            left: 23px;
            top: 268px;
            font-style: $text-style-base;
            @include text($text-l, $text-light, $text-c1-dark, $lh-l);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        .card-bottom {
          .card-btn {
            .card-buy {
              position: absolute;
              @include wh(175px, 64px);
              left: 0px;
              top: 304px;
              background: $bg-orange;
              border: none;
              padding: 17px 27px 18px 39px;
              .buynow {
                @include wh(109px, 29px);
                font-style: $text-style-base;
                @include text(
                  $text-l-btn,
                  $text-exlight,
                  $text-c1-dark,
                  $lh-l-btn
                );
                cursor: pointer;
              }
            }
          }
          .price-btn {
            position: absolute;
            @include wh(160px, 64px);
            left: 174px;
            top: 304px;
            background: $bg-2-gray;
            padding: 17px 40px 18px 66px;
            .price {
              @include wh(54px, 29px);
              font-style: $text-style-base;
              @include text(
                $text-l-btn,
                $text-semibold,
                $text-c1-dark,
                $lh-l-btn
              );
            }
          }
        }
      }
    }
  }
}
